<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEDC - @ViewBag.Title</title>
    <link href="~/Css/Layout.css" rel="stylesheet" />
    <link href="~/Css/Index.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="body">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ED", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @ViewBag.mensagem
                @ViewBag.idusuario
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sair", "Sair", "usuarios", new { area = "" }, new { @class = "saida" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Criar", "Create", "salas")</li>
                    @*<li>@Html.ActionLink("Suas salas", "SuasSalas", "usuariosalas")</li>*@
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="fundo">
            @RenderBody()
        </div>
            <div class="rodape">
                <p>Produzido 2015 - 2016 | Todos os direitos reservados para os idealizadores | Utilização gratuita</p>
                <p>Projeto IFRN- Programação Para Internet</p>
            </div>
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
