@model MeuSite.Models.sala

@{
    ViewBag.Title = "Pesquisando salas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<html>
<head>
    <link href="~/Css/PesquisaSalas.css" rel="stylesheet" />
    @using MeuSite.Models;
</head>
<body>
    @{
        //edbancoEntities db = new edbancoEntities();
        @*if (ViewBag.info != null){
            <div>@ViewBag.info</div>
        }*@
        
    }

    @using (Html.BeginForm("Filtrar", "salas", FormMethod.Post))
    {

        //sala obj = new sala();
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="tabSUb">
                <tr>
                    <td>
                        <div class="form-group">
                            <div class="col-md-10 submenu">
                                Filtrar por Tema
                                @*<select name="idtemasala" form="carform">
                                    <option value=0> Todos </option>
                                    @foreach (var item in Model.)
                                    {
                                        <option value=@item.idTemaSala>@item.nome</option>
                                    }
                                </select>*@

                                @*@Html.DropDownList("IdTemaSala", null ,htmlAttributes: new { @class = "form-control" })*@
                                @*@Html.DropDownList("idTemaSala", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => obj.idTemaSala, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-10 submenu">
                                Filtrar por Nome
                                <input type="text" name="Nome" class="alert-danger" />
                                @*@Html.EditorFor(model => obj.Nome, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => obj.Nome, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="tabSUb">
                            <input type="submit" value="Aplicar" class="btn btn-default" />
                        </div>
                    </td>
                    <td></td>
                    @*<td>
                        <input type="submit" value="Restaurar filtragem" class="btn btn-default" />
                    </td*@
                </tr>
        </table>
    }
    <p>
        <input type="submit" value="Restaurar" class="btn btn-default" />
    </p>
    @*<h2 style="background-color:white; text-align:center">Salas</h2>
    <div style="background-color:white; overflow: scroll; height:50%; width:60%;">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Nome")
                </th>
                <th>
                    @Html.DisplayName("Tema")
                </th>
                <th>
                    @Html.DisplayName("Descrição")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.listaSalas) {
            
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayName(Model.listaTemas.Find(s => s.idTemaSala == item.idTemaSala).nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descrecao)
                    </td>
                    <td>
                        
                    </td>
                </tr>
            }
            }

        </table>
    </div>*@
</body>
</html>