@*@model  IEnumerable<MeuSite.Models.biblioteca>*@
@model MeuSite.Models.sala
@{
    ViewBag.Title = "Materiais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>@ViewBag.Title</title>
    @using MeuSite.Models;
</head>
<body>
    
    <h2>Materiais</h2>

    <table>
    <tr>
        <th>
            @Html.DisplayName("Nome do arquivo")
        </th>
        <th>
            @Html.DisplayName("Opções")
        </th>
    </tr>

    @foreach (var item in Model.biblioteca.ToList())
    {

                <tr>
                    <td>
                        @item.nome
                    </td>
                    <td>
                        @Html.ActionLink("Baixar", "Download", new { id = item.idbiblioteca }) |
                        @Html.ActionLink("Desvincular", "DesVincular", new { id = ViewBag.id, idar = item.idbiblioteca })
                    </td>
                </tr>
        
        }
</table>
            
    <table>
        <tr>
            <th>
                @Html.DisplayName("Nome do arquivo")
            </th>
            <th></th>
        </tr>
        
        @foreach (var item in Model.tarefa.ToList())
        {
            foreach (var itemsobre in item.biblioteca.ToList())
            {

                <tr>
                    <td>
                        @itemsobre.nome
                    </td>
                    <td>
                        @Html.ActionLink("Baixar", "Download", new { id = itemsobre.idbiblioteca }) |
                    </td>
                </tr>

            }
        }
            

    </table>
</body>
</html>