@model IEnumerable<MeuSite.Models.usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.conexao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuariosala)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.conexao)
        </td>
    @foreach (var nitem in item.usuariosala.ToList())
    {
        <td>
            @Html.DisplayFor(modelItem => nitem.idSala)
        </td>
    }
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idusuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.idusuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idusuario })
        </td>
    </tr>
}

</table>
@ViewBag.resposta 
