@model MeuSite.Models.usuario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Perfil</title>
    @using MeuSite.Models;
    @using MeuSite.Controllers;
</head>
<body>
    <div> 
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nome)
                </th>
                <td>
                    @Html.DisplayFor(model => model.nome)
                </td>
            </tr>
            <tr>
                <th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.email)
                    </td>
                </tr>
        </table>
    </div>
    <div>
        <p>@Html.ActionLink("Atualizar Dados", "Edit", new { id = Model.idusuario})</p>
    </div>
</body>
</html>
