@model MeuSite.Models.biblioteca

@{
    ViewBag.Title = "ArquivoCond";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ArquivoCond</h2>
@ViewBag.resposta
@ViewBag.idsala
@ViewBag.Arid
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.temasala.nome)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.temasala.nome)
        </td>
        <td>
            @{
                if (Model == null)
                {

                    <p>@Html.ActionLink("Vincular", "Vincular", new { id = ViewBag.idsala, arid = ViewBag.Arid })</p>
                }
                else
                {
                    <p>@Html.ActionLink("Desvincular", "DesVincular", new { id = ViewBag.idsala, arid = ViewBag.Arid })</p>
                }
            }
        </td>
    </tr>


</table>
