@model IEnumerable<MeuSite.Models.biblioteca>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Filtrar</title>
    @using MeuSite.Models;
</head>
<body>
    @ViewBag.Mensagem
    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Nome")
            </th>
            <th>
                @Html.DisplayName("Tema")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@item.nome, "ArquivoCond", new { id = item.idbiblioteca, idsala = ViewBag.idsala })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.temasala.nome)
                </td>
            </tr>
        }

    </table>
</body>
</html>
