@model MeuSite.Models.usuariosala

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idSala)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proprietario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.acessopermitido)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.idSala)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.proprietario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.acessopermitido)
        </td>
        <td>
            @{
                if (Model.acessopermitido == false)
                {
                    <p>@Html.ActionLink("Solicitar Participação", "Criete", new { id= Model.idSala, iduse = ViewBag.idusuario})</p>
                }
            }
        </td>
    </tr>

    @ViewBag.resposta
    
</table>
