@model MeuSite.Models.usuariosala12

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Participação</h2>

<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sala_idsala)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proprietario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.acessopermitido)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.sala_idsala)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.proprietario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.acessopermitido)
        </td>
        <td>
            @{
                if (Model == null)
                {
                    
                        <p>@Html.ActionLink("Solicitar Participação", "Participar", new { id = ViewBag.idsala, iduse = ViewBag.idusuario })</p>
                }
                else{
                    if(Model.acessopermitido == false)
                    {
                    <p>@Html.ActionLink("Cancelar Solicitação", "DesParticipar", new { id = ViewBag.idsala, iduse = ViewBag.idusuario })</p>

                    }
                    else
                    {
                        if (Model.proprietario == false)
                        {
                        <p>@Html.ActionLink("Abadonar Sala", "Delete", new { id = ViewBag.idsala, iduse = ViewBag.idusuario })</p>
                        }
                        else{
                        <p>Você é o dono dessa sala.</p>
                        }
                    }
                }
}
        </td>
    </tr>

    @ViewBag.resposta
    
</table>
