@model IEnumerable<MeuSite.Models.usuariosala>

@{
    ViewBag.Title = "obj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>obj</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.proprietario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.acessopermitido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sala.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.proprietario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.acessopermitido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sala.idsala)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
