@model MeuSite.Models.sala

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Salas</title>
    <link href="~/Css/Chat.css" rel="stylesheet" />
    <link href="~/Css/Salas.css" rel="stylesheet" />
    <link href="~/Css/SuasSalas.css" rel="stylesheet" />
    <script src="~/Scripts/coleta.js"></script>
    @using MeuSite.Models;    
    @using MeuSite.Controllers;
    <script src="~/Scripts/Chat.js"></script>
</head>
<body>
    <div class="coluna1">
        <h4 style="text-align:center">Biblioteca</h4>
        <p>
            @using (Html.BeginForm("Filtrar", "arquivobibliotecas", FormMethod.Post))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                <div class="form-group">
                    <div class="col-md-10 submenu">
                        Nome
                        <input type="text" name="Nome" class="alert-danger" />
                    </div>
                </div>


                <div class="tabSUb">
                    <input type="submit" value="Pesquisar" class="btn btn-default ex" />
                </div>

            }
        </p>
        <p>
            <hr />
            <h4> Arquivos das suas tarefas </h4>
            <div class="arquivos">
            <table>
                <tr>
                    <th>
                        @Html.DisplayName("Nome do arquivo")
                    </th>
                    <th>
                    </th>
                </tr>

                @foreach (var item in Model.tarefa.ToList())
                {
                    foreach (var itemsobre in item.biblioteca.ToList())
                    {

                        <tr>
                            <td>
                            @itemsobre.nome
                        </td>
                        <td>
                            @Html.ActionLink("Baixar", "Download", new { id = itemsobre.idbiblioteca })
                        </td>
                    </tr>

                    }
                }


            </table>
            </div>
            <hr />
            <h4> Arquivos vinculados </h4>
            <div class="arquivos">
                <table>
                    <tr>
                        <th>
                            @Html.DisplayName("Nome do arquivo")
                        </th>
                        <th>

                        </th>
                    </tr>

                    @foreach (var item in Model.biblioteca.ToList())
                    {

                        <tr>
                            <td>
                                @item.nome
                            </td>
                            <td>
                                @Html.ActionLink("Baixar", "Download", new { id = item.idbiblioteca })
                                @Html.ActionLink("Desvincular", "DesVincular", "arquivobibliotecas", new { id = ViewBag.id, idar = item.idbiblioteca })
                            </td>
                        </tr>

                    }
                </table>

            </div>
            </p>
    
    <hr />
    <p>@Html.ActionLink("Todos os Materias da sala", "Materiais", new { id = ViewBag.id, @class = "btn" })</p>
    </div>
    <div class="coluna2">
        @ViewBag.Ent
        @using (Html.BeginForm("Confi", "usuariosalas", FormMethod.Post))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="tabtarefas">
        <table>
            <tbody>
                <tr>
                    <th>
                        Titulo
                    </th>
                    <th>
                        Descrição
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
                @{
            if (Model.tarefa != null)
            {
                foreach (var tarefa in Model.tarefa)
                {
                    <tr>
                        <td>
                            @tarefa.titulo
                        </td>
                        <td>
                            @tarefa.descricao
                        </td>
                        <td>
                            <div>
                                <div>
                                    <div>
                                        @Html.DisplayFor(modelItem => tarefa.entregue)
                                    </div>
                                </div>

                            </div>
                        </td>
                        <td>
                            @{
                    if (tarefa.entregue == false)
                    {
                        <p>@Html.ActionLink("Enviar Tarefa", "Arquivos", new { id = Model.idsala, tare = tarefa.idtarefa })</p>
                    }
                    else
                    {
                        <p>Tarefa concluida</p>
                    }
                            }
                        </td>
                        <td>
                            @{
                    if (ViewBag.privilegios == true)
                    {
                        if (tarefa.entregue == false)
                        {
                            <p>@Html.ActionLink("Finalizar", "Confi", new { id = tarefa.idtarefa, entrega = true, idsa = ViewBag.id, usu = ViewBag.usuario })</p>
                        }
                        else
                        {
                            <p>@Html.ActionLink("Retomar", "Confi", new { id = tarefa.idtarefa, entrega = false, idsa = ViewBag.id, usu = ViewBag.usuario })</p>
                        }
                    }

                            }

                        </td>
                    </tr>
                }
            }
                }


            </tbody>
        </table>
    </div>
        }
        @{
            if (ViewBag.privilegios == true)
            {
                <p>@Html.ActionLink("Criar Nova Tarefa", "Tarefas", new { id = Model.idsala })</p>
                <p>@Html.ActionLink("Administração", "AdmSala", new { id = ViewBag.id, usu = ViewBag.usuario, @class = "btn corBut btn-lg" })</p>
            }
            else
            {
                <p>Apenas um participante</p>
            }
        }

    </div>
    <div class="coluna3">
@using (Html.BeginForm("Mensagem", "usuariosalas", FormMethod.Post))
        {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="conter">
        <div>
            <div class="tabelaSalaPAch">
                <table>
                    <tbody>
                        @foreach (var coisas in Model.chat_usuario_sala.ToList())
                        {
                            <tr>
                                <td>
                                    >|@coisas.usuario.nome|<
                                </td>
                                <td>
                                    @coisas.mensagem
                                </td>
                            </tr>
                        }
                    <tbody>
                </table>
            </div>
        </div>
      </div>
        <hr />
            <div>
                <div>
                    
                    <div class="tabSUb tk">
                        <input type="text" name="mensagem" id="mensagem" />
                        <input type="submit" value="Enviar" class="btn btn-defaul" />
                        <button onclick='alert("Atualizando")'>Atualizar</button>
                    </div>
                </div>
            </div>
        }
        </div>
    
</body>



</html>
