@model MeuSite.Classes.AdmSalas

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Css/SuasSalas.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="vertucalMenu">
            <h4>Salas</h4>
            <p>@Html.ActionLink("Pesquisar", "Pesquisa", "salas", new { @class = "btn corBut btn-lg" })</p>
            <p>@Html.ActionLink("Criar", "CriarSala", "salas", new { @class = "btn corBut btn-lg" })</p>
        </div>
        <div class="tituloGE">Salas Gerenciadas</div>
        <div class="tabelaSala">
            <table>
                @foreach (var item in Model.listaAdm)
                {
                    <tr>
                        <td>
                            <div class="itensSala">
                                @if (item != null) { 
                                <p>@Html.ActionLink(@item.Nome, "Salas", new { id = item.idsala, usu = ViewBag.idusuario, gerencia = true })</p>
                                <p>@item.Descricao</p>
                                }
                            </div>
                        </td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
        <div class="tituloPA">Salas Participantes</div>
        <div class="tabelaSalaPA">
            <table>
                @foreach (var item in Model.listaPar)
                {
                <tr>
                    <td>
                        <div class="itensSala">
                            @if (item != null)
                            {
                                <p>@Html.ActionLink(@item.Nome, "Salas", new { id = item.idsala, usu = ViewBag.idusuario, gerencia = false })</p>
                                <p>@item.Descricao</p>
                            }
                        </div>
                    </td>
                    <td></td>
                </tr>
                }
            </table>
        </div>



    </div>
</body>
</html>